<div *ngIf="data">
    <div *ngIf="data.error != null" class="alert alert-danger">
        {{data.error}}
    </div>
    
    <div *ngIf="data.error == null" style="clear: both;">
        <dl class="dl-horizontal">
            <dt>Cluster:</dt>
            <dd>{{data.cluster}}</dd>
            <dt>Status:</dt>
            <dd>
                <status-label [status]="data.status"></status-label>
            </dd>
        </dl>
        
        <dl *ngIf="!short || short == null" class="dl-horizontal">
            <dt>Active shards:</dt>
            <dd>{{data.active_shards_percent}}</dd>
    
            <dt>Node total:</dt>
            <dd>{{data['node.total']}}</dd>
    
            <dt>Node data:</dt>
            <dd>{{data['node.data']}}</dd>
    
            <dt>Shards:</dt>
            <dd>{{data.shards}}</dd>
        </dl>
    </div>
</div>