<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Select input</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success waves-effect waves-light" (click)="addInput(c)">Add</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<preloader [visible]="pipeline == null"></preloader>

<div *ngIf="pipeline != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <div class="form-group">
                    <label>Name</label>
                    <input [(ngModel)]="pipeline.name" name="pipeline.name" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="instances" class="form-group">
                    <label>Instance</label>
                    <select [(ngModel)]="pipeline.instanceId" name="pipeline.instanceId" class="custom-select col-12">
                        <option *ngFor="let instance of instances" [ngValue]="instance.id">{{instance.name}}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Config</label>
                    <textarea [(ngModel)]="pipeline.config" name="pipeline.config" rows="20" class="form-control"></textarea>
                </div>

                <button (click)="submit()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">{{this.pipeline.id != null ? 'Update' : 'Create'}}</button>
            </form>
        </div>
    </div>
</div>