<form class="form-horizontal">
    <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="form.name" name="field_name" type="text" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Label</label>
        <input [(ngModel)]="form.label" name="field_label" type="text" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Type</label>
        <field-type-select [model]="form"></field-type-select>
    </div>

    <div *ngIf="validators != null" class="form-group">
        <label>Validators</label>
        <select2
                width="100%"
                (valueChanged)="validatorsChanged($event, i)"
                [data]="validators"
                [value]="form.validatorNames"
                [options]="{multiple:true}"
                ngDefaultControl>
        </select2>
    </div>
    
    <div *ngIf="form.validators != null && form.validators.length > 0">
        <div *ngFor="let validator of form.validators" >
            <div *ngIf="validator.params != null && validator.params.length > 0">
                <div *ngFor="let param of validator.params;let index = index;" class="form-group">
                    <label>{{param.label}}</label>
                    
                    <input *ngIf="param.type == 'string'" [(ngModel)]="param.value" name="validator_param_{{param.name}}" type="text" class="form-control" />
                    <input *ngIf="param.type == 'number'" [(ngModel)]="param.value" name="validator_param_{{param.name}}" type="number" class="form-control" />
                    
                    <select2
                        *ngIf="param.type == 'array'"
                        width="100%"
                        (valueChanged)="valuesChanged($event, param)"
                        [data]="param.value"
                        [value]="param.value"
                        [options]="{multiple: true, tags: true}"
                        ngDefaultControl>
                    </select2>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="filters != null" class="form-group">
        <label>Filters</label>
        <select2
                width="100%"
                (valueChanged)="filtersChanged($event)"
                [data]="filters"
                [value]="form.filters"
                [options]="{multiple:true}"
                ngDefaultControl>
        </select2>
    </div>
    
    <div *ngIf="dics != null" class="form-group">
        <label>Value map</label>
        
        <select [(ngModel)]="form.valueMap" name="field-value-map" class="form-control">
            <option *ngFor="let dic of dics" value="{{dic.key}}">
                {{dic.name}}
            </option>
        </select>
    </div>
    
    <div class="form-group">
        <div class="checkbox">
            <input [(ngModel)]="form.sortable" name="field_sortable" id="field_sortable" type="checkbox">
            <label for="field_sortable">Sortable</label>
        </div>
    </div>
    
    <div class="form-group">
        <div class="checkbox">
            <input [(ngModel)]="form.multiple" name="field_multiple" id="field_multiple" type="checkbox">
            <label for="field_multiple">Multiple values</label>
        </div>
    </div>
    
    <button
        (click)="saveField()"
        class="btn btn-success waves-effect waves-light m-r-10">
        Save field
    </button>
</form>
