<div class="form-group">
    <label>Access</label>

    <select2
        *ngIf="users != null"
        width="100%"
        (valueChanged)="onValueChanged($event)"
        [data]="users"
        [value]="model[field]"
        [options]="{multiple:true}"
        ngDefaultControl>
    </select2>
</div>
