<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<item-list-header
    *ngIf="collection != null"
    [pagination]="pagination"
    [collectionId]="collection.id"
    (onWidgetTypeChanged)="onWidgetTypeChangedHandler($event)"
    (onLimitChanged)="onLimitChangedHandler($event)">
</item-list-header>

<preloader [visible]="collection == null || items == null"></preloader>

<div [hidden]="!chartVisible" class="row">
    <div class="col-12">
        <div class="card">
            <button type="button" class="close" (click)="hideChart()" style="position: absolute;right: 10px;top: 4px;">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="card-block p-b-0">
                <widget-frame [subscribe]="true"></widget-frame>
            </div>
        </div>
    </div>
</div>

<div *ngIf="items != null && items.length > 0 && collection != null && widgetType == 'list'" class="row">
    <div *ngFor="let item of items" class="col-12">
        <item-card
            [item]="item"
            [fields]="fields"
            [collection]="collection"
            [settings]="settings">
        </item-card>
    </div>
</div>

<div *ngIf="collection != null  && items != null && items.length > 0 && widgetType == 'table'" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th *ngFor="let field of fields | notHidden">
                                <a *ngIf="field.sortable"
                                   (click)="toggleSortOrder(field)"
                                   href="javascript:void(0)"
                                   style="white-space: nowrap">
                    
                                    {{field.label}}
                    
                                    <i
                                        [ngClass]="{
                                        'fa-sort'     : getFieldSortOrder(field) == null,
                                        'fa-sort-up'  : getFieldSortOrder(field) == 'asc',
                                        'fa-sort-down': getFieldSortOrder(field) == 'desc'
                                    }"
                                        class="fa m-l-5">
                                    </i>
                                </a>
                
                                <span *ngIf="!field.sortable">
                                {{field.label}}
                            </span>
                            </th>
                        </tr>
        
                        <tr *ngFor="let item of items">
                            <td *ngFor="let field of fields | notHidden">
                                <span fieldValue [field]="field" [item]="item"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="items != null" class="row">
    <div class="col-12 text-center">
        <div *ngIf="pagination.type == 'more-button' && canPaginate()">
            
            <button
                (click)="paginate()"
                type="button"
                class="btn btn-sm btn-rounded btn-secondary">
                show more
            </button>
        </div>

        <div
            *ngIf="pagination.type == 'infinite-scroll' && canPaginate()"
            class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="300"
            (scrolled)="paginate()">
        </div>
    </div>
</div>

<div *ngIf="items != null && items.length == 0 && collection != null" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="alert alert-info">
                    <p *ngIf="filter == null || filter.length == 0">You haven't items yet.</p>
                    <p *ngIf="filter != null || filter.length > 0">No results found for your query</p>
                </div>
        
                <p><a [routerLink]="['/collections/' + collection.id + '/items/new']" class="btn btn-success">Create item</a></p>
            </div>
        </div>
    </div>
</div>

