<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="dashboard == null"></preloader>

<div *ngIf="dashboard != null" class="row">
    <div class="col-12">
        <div *ngFor="let row of dashboard.value.rows; let rowIndex = index" class="row">
            <div *ngFor="let col of row.cols; let colIndex = index" class="{{col.class}}">
                <div class="card">
                    <div class="card-block">
                        <widget-frame
                            *ngIf="configs[col.widgetId] != null"
                            [chart]="configs[col.widgetId].value"
                            [id]="'widget-' + col.widgetId"
                        >
                        </widget-frame>
                        
                        <div *ngIf="configs[col.widgetId] == null" class="alert alert-warning">
                            widget not exists
                        </div>
    
                        <button (click)="removeWidget(rowIndex, colIndex)" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    