<div class="card">
    <div class="card-block">
        <h3 class="card-title">
            <a [routerLink]="['/instances/' + instance.id]">
                {{instance.name}}
            </a>
        </h3>
        <h6 class="card-subtitle mb-2 text-muted">
            {{instance.name}}<span *ngIf="instance.host != null">: {{instance.host}}</span>
        </h6>
        
        <instance-health *ngIf="instance.type == 'elasticsearch'" [instance]="instance" [short]="true"></instance-health>
        <instance-status *ngIf="instance.type != 'elasticsearch'" [instance]="instance"></instance-status>
        
        <hr class="m-t-20 m-b-20">
        
        <a [routerLink]="['/instances/' + instance.id]"  class="card-link btn btn-secondary btn-sm">view</a>
        <a [routerLink]="['/instances/update/' + instance.id]" class="btn btn-info card-link btn-sm">Update</a>
        <button *ngIf="detail" (click)="deleteInstance()" class="btn btn-danger card-link btn-sm">Delete</button>
    </div>
</div>