<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="config == null"></preloader>

<div *ngIf="config != null" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <widget-frame [chart]="config.value"></widget-frame>
            </div>
        </div>
    </div>
</div>