<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="collections == null"></preloader>

<div *ngIf="collections != null && collections.length > 0" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Collections</h3>
                <h6 class="card-subtitle mb-2 text-muted">
                    Total: {{collections.length}}
                </h6>

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Health</th>
                        <th>Status</th>
                        <th class="text-center">Count</th>
                        <th class="text-center">Deleted</th>
                        <th class="text-center">Size</th>
                        <th width="1"></th>
                    </tr>
                    <tr *ngFor="let collection of collections">
                        <td>
                            <a [routerLink]="['/collections/' + collection.id + '/items']">
                                {{collection.name}}
                            </a>
                        </td>
                        <td>
                            <status-label
                                *ngIf="collection.index != null"
                                [status]="collection.index['health']">
                            </status-label>
                        </td>
                        <td>
                            <status-label
                                *ngIf="collection.index != null"
                                [status]="collection.index['status']">
                            </status-label>
                        </td>
                        <td class="text-center">
                            <span *ngIf="collection.index != null">{{collection.index['docs.count']}}</span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="collection.index != null">{{collection.index['docs.deleted']}}</span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="collection.index != null">
                                {{collection.index['store.size']}}/{{collection.index['pri.store.size']}}
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- <a [routerLink]="['/collections/' + collection.id]"  class="btn btn-secondary btn-sm">
                                <i class="fa fa-eye"></i>
                            </a> -->
                            <a
                                [routerLink]="['/collections/update/' + collection.id]"
                                class="btn btn-info btn-sm"
                                href="#">
                                <i class="fa fa-edit"></i>
                            </a>
                            
                            <a
                                href="http://{{collection.instance.host}}:{{collection.instance.port}}/{{collection.indexName}}/_search"
                                class="card-link btn btn-success btn-sm">
                                I
                            </a>
                           
                            <a
                                [routerLink]="['/instances/' + collection.instance.id + '/indices/' + collection.indexName + '/mapping']"
                                class="btn btn-success btn-sm">
                                M
                            </a>
    
                            <a
                                (click)="deleteCollection(collection)"
                                href="javascript:void(0)"
                                class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>
                           </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!--<div *ngFor="let collection of collections" class="col-12">-->
        <!--<collection-card [collection]="collection"></collection-card>-->
    <!--</div>-->
</div>

<div *ngIf="collections != null && collections.length == 0" class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                You haven't collections yet.
            </div>
    
            <p><a [routerLink]="['/collections/new']" class="btn btn-success">Create collection</a></p>
        </div>
    </div>
</div>