<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="collection == null || item == null"></preloader>

<div *ngIf="collection != null && item != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <div *ngFor="let field of collection.fields" class="form-group">
                    <label>{{field.label || field.name}}</label>
                    
                    <input
                        *ngIf="(field.values == null || field.values.length == 0) && ['integer', 'long', 'short', 'byte', 'double'].includes(field.type)"
                        [(ngModel)]="item[field.name]"
                        name="{{field.name}}"
                        type="number"
                        class="form-control"
                    />
    
                    <input
                        *ngIf="(field.values == null || field.values.length == 0) && field.type == 'text'"
                        [(ngModel)]="item[field.name]"
                        name="{{field.name}}"
                        type="text"
                        class="form-control"
                    />
    
                    <div *ngIf="(field.values != null && field.values.length > 0) && field.type == 'array'">
                        <div *ngFor="let value of field.values" class="form-check">
                            <label class="custom-control custom-checkbox">
                                <input [(ngModel)]="field.name[value]" name="{{field.name}}" value="{{value}}" type="checkbox" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{value}}</span>
                            </label>
                        </div>
                    </div>
    
                    <div *ngIf="(field.values != null && field.values.length > 0) && field.type == 'text'">
                        <div *ngFor="let value of field.values" class="form-check">
                            <label class="custom-control custom-radio">
                                <input [(ngModel)]="item[field.name]" name="{{field.name}}" value="{{value}}" type="radio" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{value}}</span>
                            </label>
                        </div>
                    </div>
                </div>
        
                <button (click)="saveItem()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">{{item.id != null ? 'Update item' : 'Create item'}}</button>
            </form>
        </div>
    </div>
</div>