<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="configs == null"></preloader>

<div *ngIf="configs != null && configs.length > 0" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Configs</h3>
                <h6 class="card-subtitle mb-2 text-muted">
                    Total: {{configs.length}}
                </h6>
                
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Key</th>
                        <th class="text-center">User</th>
                        <th width="1"></th>
                        <th width="1"></th>
                    </tr>
                    <tr *ngFor="let config of configs">
                        <td>
                            {{config.id}}
                        </td>
                        <td>
                            {{config.key}}
                        </td>
                        <td class="text-center">
                            {{config.userId || '-'}}
                        </td>
                        <td>
                            <a [routerLink]="['/configs/update/' + config.id]" class="btn btn-info btn-sm">Edit</a>
                        </td>
                        <td>
                            <button (click)="deleteConfig(config)" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="configs != null && configs.length == 0" class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <p>You haven't configs yet.</p>
            </div>
    
            <p><a [routerLink]="['/configs/new']" class="btn btn-success">Create config</a></p>
        </div>
    </div>
</div>