<div class="d-flex flex-wrap">
    <div>
        <h3 class="card-title">{{title}}</h3>
        <h6 *ngIf="subTitle != null && subTitle.length > 0" class="card-subtitle">
            {{subTitle}}
        </h6>
    </div>
    
    <!--<div *ngIf="titleLabels != null && titleLabels.length > 0" class="ml-auto align-self-center">-->
        <!--<ul class="list-inline m-b-0">-->
            <!--<li *ngFor="let data of titleLabels; let i = index">-->
                <!--<h6 [style.color]="colors[i]">-->
                    <!--<i class="fa fa-circle font-10 m-r-10"></i> {{data.text}}-->
                <!--</h6>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <div class="ml-auto align-self-right">
        <!-- <div *ngIf="config != null"> -->
            <!--<label>Interval</label>-->
            <!--<select [(ngModel)]="aggregation.params.interval" (change)="updateState()" class="form-control">-->
                <!--<option value="day">Day</option>-->
                <!--<option value="week">Week</option>-->
                <!--<option value="month">Month</option>-->
                <!--<option value="year">Year</option>-->
            <!--</select>-->
    
            <!--<interval-select *ngIf="config != null" [model]="config.value.params" (change)="updateState()"></interval-select>-->
        <!-- </div> -->
    </div>
</div>

<div id="{{elementId}}" class="campaign ct-charts"></div>

<div *ngIf="titleLabels != null && titleLabels.length > 0" class="row text-center m-t-30">
    <table style="width: 100%">
        <tr>
            <td *ngFor="let data of titleLabels; let i = index">
                <h1 class="m-b-0 font-light" [style.color]="colors[i]">{{data.count}}</h1>
                <small [style.color]="colors[i]">{{data.text}}</small>
            </td>
        </tr>
    </table>
</div>
