<div class="row page-titles">
    <div class="col-6 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{data.title}}</h3>
        <ol class="breadcrumb">
            <ng-template ngFor let-link [ngForOf]="data?.links" let-last="last">
                <li class="breadcrumb-item" *ngIf="!last && link.href != null" [routerLink]="link.href">
                    <a href='javascript:void(0)'>{{link.title}}</a>
                </li>
                
                <li class="breadcrumb-item active" *ngIf="last || link.href == null">{{link.title}}</li>
            </ng-template>
        </ol>
    </div>
    <div class="col-6 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div *ngIf="data?.buttons">
                <a *ngFor="let button of data.buttons" [routerLink]="button.route" [queryParams]="button.params" class="{{button.class}} m-l-5 btn-sm">
                    {{button.text}}
                </a>
            </div>
            
            <div>
                <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
    </div>
</div>
