<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="item == null"></preloader>

<div *ngIf="item != null" class="row">
    <div class="col-12">
        <item-card [item]="item" [collection]="collection" [detail]="true"></item-card>
    </div>
</div>

    