<div *ngIf="!item.deleted" class="card">
    <div class="card-block">
        <h3 *ngIf="detail" class="card-title">Item ID: {{item.id}}</h3>
        
        <div *ngFor="let field of fields">
            <div *ngIf="!field.hidden && (settings.showEmptyValues || item[field.name] != null)">
                <div class="font-light font-14">
                    <span class="font-bold">{{field.label}}:</span>
                    <br *ngIf="settings.valuesOnNextLine" />
                    <span fieldValue [field]="field" [item]="item"></span>
                </div>
            </div>
        </div>

        <hr
            *ngIf="settings.showDetailButton || settings.showEditButton || settings.showDeleteButton"
            class="m-t-15 m-b-15"
        />

        <a
            *ngIf="settings.showDetailButton"
            [routerLink]="['/collections/' + collection.id + '/items/' + encodeURIComponent(item.id)]"
            class="card-link btn btn-secondary btn-sm">
            view
        </a>
        
        <a
            *ngIf="settings.showEditButton"
            [routerLink]="['/collections/' + collection.id + '/items/update/' + encodeURIComponent(item.id)]"
            [queryParams]="{collectionId: collection.id}"
            class="card-link btn btn-info btn-sm">
            update
        </a>

        <button
            *ngIf="settings.showDeleteButton"
            (click)="deleteItem(item)"
            class="btn btn-danger card-link btn-sm">
            Delete
        </button>
    </div>
</div>