.field-table {
    display:table;
    width: 100%;
    border-collapse: collapse;
}

.field-cell {
    padding: 0.50rem;
    display: table-cell;
}

.field-row {
    display: table-row;

}

.field-row:not(:first-child) {
    border-top: 1px solid #eceeef;
}

.field-header-row {
    font-weight: 500;
    display: table-row;
}