<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">List settings</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs customtab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-fields" role="tab">
                    <span class="hidden-sm-up"><i class="ti-home"></i></span>
                    <span class="hidden-xs-down">Fields</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-custom" role="tab">
                    <span class="hidden-sm-up"><i class="ti-user"></i></span>
                    <span class="hidden-xs-down">Custom</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-navigation" role="tab">
                    <span class="hidden-sm-up"><i class="ti-user"></i></span>
                    <span class="hidden-xs-down">Navigation</span>
                </a>
            </li>
        </ul>

        <div *ngIf="form != null" class="tab-content">
            <div class="tab-pane active p-20" id="tab-fields" role="tabpanel">
                <div class="field-table" [sortablejs]="form.fields" [sortablejsOptions]="sortableOptions">
                    <div class="field-header-row">
                        <div class="field-cell">
                            Name
                        </div>
                        <div class="field-cell">
                            View
                        </div>
                        <div *ngIf="positionArrows" class="field-cell text-center">
                            Position
                        </div>
                        <div class="field-cell text-center">
                            Hidden
                        </div>
                    </div>

                    <div *ngFor="let field of form.fields" class="field-row">
                        <div [ngClass]="{'op-5' : field.hidden}" class="field-cell" style="cursor: pointer">
                            <i class="mdi mdi-drag"></i> {{field.label || field.name}}
                        </div>
                        <div class="field-cell">
                            <select [(ngModel)]="field.view" name="field-view" class="form-control form-control-sm">
                                <optgroup label="Base">
                                    <option value="date_time">date time</option>
                                    <option value="date">date</option>
                                    <option value="currency">currency</option>
                                    <option value="short_link">short link</option>
                                    <option value="number">number</option>
                                </optgroup>
                                <optgroup label="Dictionary">
                                    <option *ngFor="let dic of dics" value="{{dic.key}}">
                                        {{dic.name}}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                        <div *ngIf="positionArrows" class="text-center field-cell">
                            <a (click)="changeFieldPosition(field, 'up')" href="#" class="m-r-10">
                                <i class="mdi  mdi-arrow-up-bold"></i>
                            </a>

                            <a (click)="changeFieldPosition(field, 'down')" href="#">
                                <i class="mdi  mdi-arrow-down-bold"></i>
                            </a>
                        </div>
                        <div class="field-cell text-center">
                            <label class="custom-control custom-checkbox" style="margin-right: 0">
                                <input
                                        [(ngModel)]="field.hidden"
                                        name="{{field.name}}_hidden"
                                        type="checkbox"
                                        class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane  p-20" id="tab-custom" role="tabpanel">
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="form.settings.showEmptyValues" name="showEmptyValues" type="checkbox"
                               class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Show empty values</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="form.settings.valuesOnNextLine" name="valuesOnNextLine" type="checkbox"
                               class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Values on next line</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="form.settings.showDetailButton" name="showDetailButton" type="checkbox"
                               value="true" class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Detail button enabled</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="form.settings.showCreateButton" name="showCreateButton" type="checkbox"
                               value="true" class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Create button enabled</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="form.settings.showEditButton" name="showEditButton" type="checkbox"
                               value="true" class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Edit button enabled</span>
                    </label>
                </div>
                <div class="form-check">
                    <label class="custom-control custom-checkbox">
                        <input [(ngModel)]="form.settings.showDeleteButton" name="showDeleteButton" type="checkbox"
                               value="true" class="custom-control-input"/>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Delete button enabled</span>
                    </label>
                </div>
            </div>
            <div class="tab-pane  p-20" id="tab-navigation" role="tabpanel">
                <input [(ngModel)]="form.pagination.type" name="pagination" type="radio" id="more-button"
                       value="more-button"/>
                <label for="more-button">More button</label>

                <br/>

                <input [(ngModel)]="form.pagination.type" name="pagination" type="radio" id="infinite-scroll"
                       value="infinite-scroll"/>
                <label for="infinite-scroll">Infinite scroll</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="submit(); c('Apply click')" type="button" class="btn btn-success waves-effect waves-light">
            Apply
        </button>
    </div>
</ng-template>