<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="mapping == null"></preloader>

<div *ngIf="mapping != null" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Mapping</h3>
            </div>
            
            <table class="table">
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Keyword</th>
                </tr>
                
                <tr *ngFor="let field of mapping">
                    <td>{{field.name}}</td>
                    <td>{{field.type}}</td>
                    <td>{{field.fields}}</td>
                </tr>
            </table>
            
            <a
                [routerLink]="['/instances/' + instanceId + '/indices/' + indexName + '/mapping/update']"
                [queryParams]=""
                class="btn btn-primary">
                Edit mapping
            </a>
        </div>
    </div>
</div>

