<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="form == null"></preloader>

<div *ngIf="form != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <h4 class="box-title">Widget</h4>
                <hr class="m-t-0 m-b-20">
                
                <div class="form-group">
                    <label>Type</label>
                    <select [(ngModel)]="form.value.selector" name="form.value.selector" class="custom-select col-12">
                        <option *ngFor="let widget of chartTypes" [ngValue]="widget.selector">{{widget.name}}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Title</label>
                    <input [(ngModel)]="form.value.title" name="form.value.title" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="form.value.selector == 'line-chart'" class="form-group">
                    <label>Sub title</label>
                    <input [(ngModel)]="form.value.subTitle" name="form.value.subTitle" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="form.value.selector == 'bar-chart'" class="form-group">
                    <label>Axis Y offset</label>
                    <input [(ngModel)]="form.value.axisYOffset" name="form.value.axisYOffset" type="text" class="form-control"/>
                </div>
    
                <h4 class="box-title">Aggregation</h4>
                <hr class="m-t-0 m-b-20">
    
                <collection-select [model]="form.value"></collection-select>
                
                <div class="form-group">
                    <label>Type</label>
    
                    <select [(ngModel)]="form.value.aggregation.type" name="form.value.aggregation.type" class="custom-select col-12">
                        <option *ngFor="let type of aggTypes" [ngValue]="type.value">{{type.text}}</option>
                    </select>
                </div>

                <div *ngIf="form.value.aggregation.type != 'date_histogram_term'" class="form-group">
                    <label>Field</label>
                    <input [(ngModel)]="form.value.aggregation.params.field" name="form.value.aggregation.params.field" type="text" class="form-control"/>
                </div>

                <div *ngIf="form.value.aggregation.type == 'date_histogram_term'" class="form-group">
                    <label>Term field</label>
                    <input [(ngModel)]="form.value.aggregation.params.term_field" name="form.value.aggregation.params.term_field" type="text" class="form-control"/>
                </div>

                <div *ngIf="form.value.aggregation.type == 'date_histogram_term'" class="form-group">
                    <label>Date field</label>
                    <input [(ngModel)]="form.value.aggregation.params.date_field" name="form.value.aggregation.params.date_field" type="text" class="form-control"/>
                </div>

                <div *ngIf="['histogram', 'date_histogram', 'date_histogram_term'].indexOf(form.value.aggregation.type) != -1" class="form-group">
                    <label>Interval</label>
                    <input [(ngModel)]="form.value.aggregation.params.interval" name="form.value.aggregation.params.interval" type="text" class="form-control"/>
                </div>

                <div *ngIf="['date_histogram', 'date_histogram_term'].indexOf(form.value.aggregation.type) != -1" class="form-group">
                    <label>Date format</label>
                    <input [(ngModel)]="form.value.aggregation.params.format" name="form.value.aggregation.params.format" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="done === true" class="alert alert-success">Success!</div>
                
                <button (click)="submit()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    {{form.id != null ? 'Update' : 'Create'}}
                </button>
            </form>
        </div>
    </div>
</div>