<a
    class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
    href="/"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"/>
</a>
<div class="dropdown-menu dropdown-menu-right scale-up">
    <ul *ngIf="user != null" class="dropdown-user">
        <li>
            <div class="dw-user-box">
                <div class="u-img"><img src="assets/images/users/1.jpg" alt="user"></div>
                <div class="u-text">
                    <h4>{{user.login}}</h4>
                    <p class="text-muted">{{user.email || 'no email'}}</p>
                    <a [routerLink]="['/user/profile']" class="btn btn-rounded btn-danger btn-sm">ViewProfile</a>
                </div>
            </div>
        </li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
        <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
        <li role="separator" class="divider"></li>
        <li><a (click)="logout()" href="#"><i class="fa fa-power-off"></i> Logout</a></li>
    </ul>
</div>