<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topheader" id="top">
        <div class="fix-width">
            <nav class="navbar navbar-toggleable-md navbar-light p-l-0">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <!-- Logo will be here -->
                <a class="navbar-brand" href="index.html"><img src="assets/images/material-admin-logo.png" alt="admin template"/></a>
                <!-- This is the navigation menu -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto stylish-nav">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="https://wrappixel.com/demos/admin-templates/material-pro/material/index.html" target="_blank">Main</a> <a class="dropdown-item" href="https://wrappixel.com/demos/admin-templates/material-pro/minisidebar/index2.html" target="_blank">MiniSidebar</a> <a class="dropdown-item" href="https://wrappixel.com/demos/admin-templates/material-pro/dark/index5.html" target="_blank">Dark</a> <a class="dropdown-item" href="https://wrappixel.com/demos/admin-templates/material-pro/horizontal/index3.html"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             target="_blank">Horizontal</a>
                                <!-- <a class="dropdown-item" href="#" target="_blank">Angular starter kit</a> --><a class="dropdown-item" href="https://wrappixel.com/demos/admin-templates/material-pro/material-rtl/index4.html" target="_blank">Main-RTL</a> <a class="dropdown-item" href="https://wrappixel.com/demos/admin-templates/material-pro/materialpro-angular/index.html" target="_blank">Angular CLI Starter kit</a></div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../Documentation/document.html" target="_blank">Documentation</a></li>
                        <li class="nav-item"><a class="m-t-5 btn btn-info font-13" href="https://themeforest.net/item/materialpro-bootstrap-4-admin-template/20203944?ref=MARUTI" style="width:120px;">BUY NOW</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="fix-width">
                <div class="row banner-text">
                    <div class="col-md-5 m-t-20">
                        <h1>The Most Beautiful &amp; Powerful <span class="text-info">Material Design</span> based Admin Dashboard Template</h1>
                        <p class="subtext"><span class="font-medium">Bootstrap 4 </span>Admin Template + Angular cli Starter kit, <span class="font-medium">Light &amp; Dark</span> Versions, Landing Page, <span class="font-medium">6 Demo</span> Variations, <span class="font-medium">6 Dashboard</span> Variations, <span class="font-medium">100+</span> Integrated Plugins, <span class="font-medium">600+</span> Pages, <span class="font-medium">3000+</span> Font Icons, <span class="font-medium">500+</span> UI Components &amp; much more...</p>
                        <div class="down-btn"><a href="#demos" class="btn btn-info m-b-10">VIEW DEMOS</a> <a href="https://themeforest.net/item/materialpro-bootstrap-4-admin-template/20203944?ref=MARUTI" class="btn btn-success m-b-10">BUY NOW</a></div>
                    </div>
                    <div class="col-md-7">
                        <div class="hero-banner"><img src="assets/images/banner.jpg" alt="Monster admin template"/></div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Featured Section -->
            <!-- ============================================================== -->
            <div class="row light-blue">
                <div class="col-md-12" id="demos">
                    <div class="text-center">
                        <small class="text-info">The Most Beautiful Bootstrap Admin Template</small>
                        <h2 class="display-7">Powerful Admin Template of 2017</h2>
                        <p>Don’t go by our Words, checkout our awesome demos and verify yourself.
                            <br/>You will surely fall in love over the fresh design & brilliant code.</p>
                    </div>
                    <div class="max-width">
                        <div class="row text-center">
                            <div class="col-md-4 m-t-40">
                                <div class="image-box"><img src="assets/images/material-demo1.jpg" alt="demo1" class="img-responsive"/>
                                    <div class="image-overly"><a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/material/index.html" target="_blank">Live Preview</a></div>
                                </div>
                                <h5 class="p-20">Main Demo Version</h5></div>
                            <div class="col-md-4 m-t-40">
                                <div class="image-box"><img src="assets/images/material-demo2.jpg" alt="demo2" class="img-responsive"/>
                                    <div class="image-overly"><a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/minisidebar/index2.html" target="_blank">Live Preview</a></div>
                                </div>
                                <h5 class="p-20">Mini Sidebar Demo Version</h5></div>
                            <div class="col-md-4 m-t-40">
                                <div class="image-box"><img src="assets/images/material-demo3.jpg" alt="demo3" class="img-responsive"/>
                                    <div class="image-overly"><a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/horizontal/index3.html" target="_blank">Live Preview</a></div>
                                </div>
                                <h5 class="p-20">Horizontal Demo Version</h5></div>
                            <div class="col-md-4 m-t-40">
                                <div class="image-box"><img src="assets/images/material-demo4.jpg" alt="demo4" class="img-responsive"/>
                                    <div class="image-overly"><a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/dark/index5.html" target="_blank">Live Preview</a></div>
                                </div>
                                <h5 class="p-20">Dark Demo Version</h5></div>
                            <div class="col-md-4 m-t-40">
                                <div class="image-box"><img src="assets/images/material-demo5.jpg" alt="demo5" class="img-responsive"/>
                                    <div class="image-overly"><a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/material-rtl/index4.html" target="_blank">Live Preview</a></div>
                                </div>
                                <h5 class="p-20">RTL Demo Version</h5></div>
                            <div class="col-md-4 m-t-40">
                                <div class="image-box"><img src="assets/images/material-demo6.jpg" alt="demo6" class="img-responsive"/>
                                    <div class="image-overly"><a class="btn btn-rounded btn-info" href="https://wrappixel.com/demos/admin-templates/material-pro/materialpro-angular/" target="_blank">Live Preview</a></div>
                                </div>
                                <h5 class="p-20">Angular 2/CLI Starter Demo</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Feature with Icons -->
            <!-- ============================================================== -->
            <div class="row white-space">
                <div class="col-md-12">
                    <div class="fix-width icon-section">
                        <small class="text-info">ALMOST COVERED EVERYTHING</small>
                        <h2 class="display-7">Amazing Features & Flexibility Provided</h2>
                        <!-- Row -->
                        <div class="row m-t-40">
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/color-skim.png" alt="Monster admin template">
                                <h4 class="font-500">6 Color Schemes</h4>
                                <p>We have included 6 pre-defined color schemes with Monster Admin.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/sidebars.png" alt="Monster admin template">
                                <h4 class="font-500">Dark &amp; Light Sidebar</h4>
                                <p>Included Dark and Light Sidebar for getting desire look and feel.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/pages.png" alt="Monster admin template">
                                <h4 class="font-500">700+ Page Templates</h4>
                                <p>Yes, we have 6 demos &amp; 120+ Pages per demo to make it easier.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/ui-component.png" alt="Monster admin template">
                                <h4 class="font-500">500+ UI Components</h4>
                                <p>Almost 500+ UI Components being given with Monster Admin Pack.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/widgets.png" alt="Monster admin template">
                                <h4 class="font-500">Lots of Widgets</h4>
                                <p>Wide range of Widgets are available with Monster Admin Package.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/bootstraps.png" alt="Monster admin template">
                                <h4 class="font-500">Bootstrap 4x</h4>
                                <p>Its been made with Bootstrap 4 and full responsive layout.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/fonts.png" alt="Monster admin template">
                                <h4 class="font-500">3000+ Font Icons</h4>
                                <p>Lots of Icon Fonts are included here in the package of Monster Admin.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/respo.png" alt="Monster admin template">
                                <h4 class="font-500">Fully Responsive</h4>
                                <p>All the layout of Monster Admin is Fully Responsive and widely tested.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/less.png" alt="Monster admin template">
                                <h4 class="font-500">SaSSBase CSS</h4>
                                <p>Our Css is written Less Base to make your life easier.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/customized.png" alt="Monster admin template">
                                <h4 class="font-500">Easy to Customize</h4>
                                <p>Customization will be easy as we understand your pain.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/charts.png" alt="Monster admin template">
                                <h4 class="font-500">Lots of Chart Options</h4>
                                <p>You name it and we have it, Yes lots of variations for Charts.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-6"><img src="assets/images/multi-upload.png" alt="Monster admin template">
                                <h4 class="font-500">Mutiple File Uploads</h4>
                                <p>You can upload multiple files with our Multiple selector.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/tables.png" alt="Monster admin template">
                                <h4 class="font-500">Lots of Table Examples</h4>
                                <p>Data Tables are initial requirement
                                    <br>and we added them.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/forms.png" alt="Monster admin template">
                                <h4 class="font-500">Validation Forms</h4>
                                <p>Different Forms with Validation are
                                    <br>included in pack.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/multi-level.png" alt="Monster admin template">
                                <h4 class="font-500">3 Level Dropdown Menu</h4>
                                <p>We have added 3 Level Dropdown
                                    <br>Menu in Elite Pack.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/calendar.png" alt="Monster admin template">
                                <h4 class="font-500">Calendar Design</h4>
                                <p>Calendar is available with our package
                                    <br>&amp; in nice design.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/gallery.png" alt="Monster admin template">
                                <h4 class="font-500">Gallery Options</h4>
                                <p>Covered options to showcase different
                                    <br>variation for gallery.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/docs.png" alt="Monster admin template">
                                <h4 class="font-500">Detailed Documentation</h4>
                                <p>We have made detailed documentation,
                                    <br>so it will easy to use.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/dedicated.png" alt="Monster admin template">
                                <h4 class="font-500">Dedicated Support</h4>
                                <p>We believe in supreme support is
                                    <br>key and we offer that.</p>
                            </div>
                            <!-- /.col -->
                            <!-- .col -->
                            <div class="col-lg-3 col-md-4"><img src="assets/images/ragular.png" alt="Monster admin template">
                                <h4 class="font-500">Regular Updates</h4>
                                <p>We are constantly updating our
                                    <br>pack with new features.</p>
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="text-center">
                            <!-- Row --><a href="https://themeforest.net/item/materialpro-bootstrap-4-admin-template/20203944?ref=MARUTI" class="btn btn-lg btn-success m-t-40"> Buy Material Pro Now</a>
                            <!-- Row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Testimonial -->
            <!-- ============================================================== -->
            <div class="row light-blue">
                <div class="col-md-12">
                    <div class="fix-width text-center">
                        <small class="text-info">ALMOST COVERED EVERYTHING</small>
                        <h2 class="display-7">What Real Buyers have to <br/>Say about MaterialPro Admin</h2>
                        <div class="tesimonial-box owl-carousel owl-theme" id="owl-demo2">
                            <div class="item">
                                <p class="testimonial-text"><b class="font-500">The free version is incredible and it had everything I needed, however I bought this full template to support the developer. It’s a great, lightweight template which has loads of awesome little features and pre-made layouts to help kick-start your next admin panel, CMS, or CRM system. Keep up the good work!</b></p>
                                <div class="username"><b>Nick Stanbridge<br/>
                                    <small class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small>
                                </b></div>
                            </div>
                            <div class="item">
                                <p class="testimonial-text"><b class="font-500">This front-end templates are very nice, very suitable for my background to do now, provide a lot of components for my use. Customer service is also very patient, very good, did not download the success of the beginning, and later also help me download finished, it is worth!</b></p>
                                <div class="username"><b>Shinwu Ch<br/>
                                    <small class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small>
                                </b></div>
                            </div>
                            <div class="item">
                                <p class="testimonial-text"><b class="font-500">in my opinion, MaterialPro Admin is a professional light-weight theme that will suit multiple projects types including MVC web-projects & dashboard-type user interface. I am yet to take a deep dive into the many features it offers. But from a first-hand experience, I would say it is really worth the money you pay for it… Go ahead & give it a try</b></p>
                                <div class="username"><b>Mohammed Shameem<br/>
                                    <small class="text-danger"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></small>
                                </b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Call to action bar -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12 call-to-action bg-success">
                    <div class="fix-width">
                        <div class="row">
                            <div class="col-md-6 m-t-20 m-b-20"><span>Are you Satisfied with what we Offer?</span></div>
                            <div class="col-md-6 align-self-center text-right"><a href="https://themeforest.net/item/materialpro-bootstrap-4-admin-template/20203944?ref=MARUTI" target="_blank" class="btn btn-outline btn-rounded btn-default buy-btn m-t-10 m-b-10">Buy Material Pro admin </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
            <footer class="footer row">
                <div class="fix-width">
                    <div class="row">
                        <div class="col-lg-3 col-md-6"><img src="assets/images/logo-light-icon.png" alt="logo"/> <img src="assets/images/logo-light-text.png" alt="logo"/>
                            <p class="m-t-30">
                                <span class="text-white">Material Pro</span> is premium quality admin dashboard template with flat design. It is fully responsive admin dashboard template built with Bootstrap Framework, HTML5 & CSS3, Media query. </p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer-link list-icons">
                                <li><a href="../material/index.html"><i class="ti-angle-right"></i> Dashboard 1</a></li>
                                <li><a href="../material/index2.html"><i class="ti-angle-right"></i> Dashboad 2</a></li>
                                <li><a href="../material/index3.html"><i class="ti-angle-right"></i> Dashboad 3</a></li>
                                <li><a href="../material/index4.html"><i class="ti-angle-right"></i> Dashboard 4</a></li>
                                <li><a href="../material/index5.html"><i class="ti-angle-right"></i> Dashboard 5</a></li>
                                <li><a href="../material/index6.html"><i class="ti-angle-right"></i> Dashboard 6</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer-link list-icons">
                                <li><a href="../material/widget-apps.html"><i class="ti-angle-right"></i> Widget Sections</a></li>
                                <li><a href="../material/chart-chartist.html"><i class="ti-angle-right"></i> Chart Options</a></li>
                                <li><a href="../material/form-layout.html"><i class="ti-angle-right"></i> Lots of Form Layouts</a></li>
                                <li><a href="../material/table-data-table.html"><i class="ti-angle-right"></i> Data Table Options</a></li>
                                <li><a href="../material/index.html"><i class="ti-angle-right"></i> Calendar Designs</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <ul class="footer-link list-icons">
                                <li><a href="../material/app-email.html"><i class="ti-angle-right"></i> Inbox Layout</a></li>
                                <li><a href="../material/pages-treeview.html"><i class="ti-angle-right"></i> Tree View Options</a></li>
                                <li><a href="../material/ui-carousel.html"><i class="ti-angle-right"></i> Carousel Slider Option</a></li>
                                <li><a href="../material/pages-gallery.html"><i class="ti-angle-right"></i> Gallery Option</a></li>
                                <li><a href="../material/starter-kit.html"><i class="ti-angle-right"></i> Starter Pages</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 sub-footer">
                            <span>Copyright 2017. All Rights Reserved by <a class="text-white" href="#" target="_blank">Material Pro</a></span>
                            <span class="pull-right">Design & Developed by <a class="text-white" href="https://wrappixel.com" target="_blank">WrapPixel</a></span>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>