<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="instances == null"></preloader>

<div *ngIf="instances != null && instances.length > 0" class="row">
    <div *ngFor="let instance of instances" class="col-12">
        <instance-card [instance]="instance" [detail]="false"></instance-card>
    </div>
</div>

<div *ngIf="instances != null && instances.length == 0"  class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="alert alert-info">
                    You haven't instances yet
                </div>
                
                <p><a [routerLink]="['/instances/new']" class="btn btn-success">Create instance</a></p>
            </div>
        </div>
    </div>
</div>