<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="applications == null"></preloader>

<div *ngIf="applications != null && applications.length > 0" class="row">
    <div *ngFor="let application of applications" class="col-12">
        <application-card [application]="application" [detail]="false"></application-card>
    </div>
</div>

<div *ngIf="applications != null && applications.length == 0" class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <p>You haven't applications yet.</p>
            </div>
    
            <p><a [routerLink]="['/applications/new']" class="btn btn-success">Create application</a></p>
        </div>
    </div>
</div>