<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="pipelines == null"></preloader>

<div *ngIf="pipelines != null && pipelines.length > 0" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Pipelines</h3>
                <h6 class="card-subtitle mb-2 text-muted">
                    Total: {{pipelines.length}}
                </h6>
                
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Instance</th>
                        <th width="1"></th>
                    </tr>
                    <tr *ngFor="let pipeline of pipelines">
                        <td>
                            {{pipeline.name}}
                        </td>
                        <td>
                            {{pipeline.instance.name}}
                        </td>
                        <td style="white-space: nowrap">
                            <button
                                (click)="createConfigFile(pipeline)"
                                class="btn btn-sm"
                                [ngClass]="{'btn-primary': !pipeline.fileCreated, 'btn-success': pipeline.fileCreated}" >
                                sync file
                            </button>
                            
                            <a [routerLink]="['/pipelines/update/' + pipeline.id]"  class="card-link btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
    
<!--<div *ngFor="let pipeline of pipelines" class="col-12">-->
    <!--<div class="card">-->
        <!--<div class="card-block">-->
            <!--<h3 class="card-title">{{pipeline.name}}</h3>-->
            <!--<h6 *ngIf="pipeline.description != null" class="card-subtitle">{{pipeline.description}}</h6>-->
            <!---->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div *ngIf="pipelines != null && pipelines.length == 0" class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <p>You haven't pipelines yet.</p>
            </div>
    
            <p><a [routerLink]="['/pipelines/new']" class="btn btn-success">Create pipeline</a></p>
        </div>
    </div>
</div>