<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="application == null"></preloader>

<div *ngIf="application != null" class="row">
    <div class="col-12">
        <application-card [application]="application" [detail]="true"></application-card>
    </div>
</div>

