<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">

                <!-- <div *ngFor="let item of items" style="border: 1px solid green">
                    {{item.name}}
                </div> -->

                <table border="1" [sortablejs]="items">
                    <tr *ngFor="let item of items">
                        <td>{{item.name}}</td>
                    </tr>
                </table>

                <hr/>
                <div [sortablejs]="items">
                    <div *ngFor="let item of items">{{ item.name }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<swal #dialog title="Error" text="Error text here" type="error"></swal>-->
<!--<button (click)="dialog.show()">Go to my profile</button>-->

<!--<div class="row">-->
<!--<div class="col-12">-->
<!--<div class="card">-->
<!--<div class="card-block">-->
<!--<div fuck>Fuck me</div>-->
<!--<p myHighlight>Highlight me!!!</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="col-12">-->
<!--<div class="card">-->
<!--<div class="card-block">-->
<!--<h4 class="card-title">Internet Speed</h4>-->
<!--<div id="gauge-chart" style="width:100%; height:400px;"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->