<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="collection == null"></preloader>

<div class="row">
    <div *ngIf="collection != null" class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <h4 class="box-title">Collection attributes</h4>
                <hr class="m-t-0 m-b-20">

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input [(ngModel)]="collection.name" name="collection.name" type="text" class="form-control"/>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Index name</label>
                            <input [(ngModel)]="collection.indexName" name="collection.indexName" type="text" class="form-control"/>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>Index type</label>
                            <input [(ngModel)]="collection.indexType" name="collection.indexType" type="text" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <application-select [model]="collection" [field]="'appId'"></application-select>
                    </div>
                    <div class="col-4">
                        <instance-select [model]="collection" [field]="'instanceId'"></instance-select>
                    </div>
                    <div class="col-4">
                        <access-select [model]="collection" [field]="'access'"></access-select>
                    </div>
                </div>

                <field-list [fields]="collection.fields"></field-list>
                
                <button
                    (click)="createFieldsFromMapping()"
                    class="btn btn-sm btn-success">
                    create fields by index mapping
                </button>

                <hr class="m-t-40">

                <div *ngIf="done === true" class="alert alert-success">Success!</div>
                
                <div class="row">
                    <div class="col-4">
                        <button
                            (click)="submit()"
                            type="submit"
                            class="btn btn-success waves-effect waves-light m-r-10">
                            Save collection
                        </button>
                    </div>
                    <div class="col-8 text-right">
                        <span *ngIf="collection.id == null">
                            <label class="custom-control custom-checkbox">
                                <input [(ngModel)]="collection.createIndex" name="createIndex" type="checkbox" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Create index</span>
                            </label>
                        </span>
    
                        <span *ngIf="collection.id == null">
                            <label class="custom-control custom-checkbox">
                                <input [(ngModel)]="collection.createMapping" name="createMapping" type="checkbox" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Create mapping</span>
                            </label>
                        </span>
    
                        <span *ngIf="collection.id != null">
                            <label class="custom-control custom-checkbox">
                                <input [(ngModel)]="collection.updateIndex" name="updateIndex" type="checkbox" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Update index</span>
                            </label>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

