<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="form == null"></preloader>

<div *ngIf="form != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <div class="form-group">
                    <label>Name</label>
                    <input [(ngModel)]="form.name" name="form.name" type="text" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label>Description</label>
                    <textarea [(ngModel)]="form.description" name="form.description" class="form-control"></textarea>
                </div>
                
                <access-select [model]="application"></access-select>
                
                <button (click)="submit()" [disabled]="applicationService.loading" type="submit" class="btn btn-success waves-effect waves-light m-r-10">{{this.form.id != null ? 'Update' : 'Create'}}</button>
            </form>
        </div>
    </div>
</div>