<preloader [visible]="collection == null"></preloader>

<div *ngIf="collection != null" class="row">
    <div class="col-12">
        <collection-card [collection]="collection" [detail]="true"></collection-card>
    </div>
</div>

