<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Filters</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-condensed table-fixed">
            <tr>
                <th>Field</th>
                <th>Operand</th>
                <th>Value</th>
                <th class="button-td">
                    <button (click)="addFilterParam()" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
            <tr *ngFor="let filter of form; let i = index">
                <td>
                    <field-select [fields]="fields" [model]="filter" [field]="'field'"></field-select>
                </td>
                <td>
                    <select [(ngModel)]="filter.oper" name="filter_oper_{{i}}" class="form-control">
                        <option value="eq">equals</option>
                        <option value="not_eq">not equals</option>
                        
                        <option *ngIf="['float', 'long'].includes(types[filter.field])" value="gt">greater</option>
                        <option *ngIf="['float', 'long'].includes(types[filter.field])" value="gte">greater or equals</option>
                        <option *ngIf="['float', 'long'].includes(types[filter.field])" value="lt">lower</option>
                        <option *ngIf="['float', 'long'].includes(types[filter.field])" value="lte">lower or equals</option>
                    </select>
                </td>
                <td>
                    <span *ngIf="valueMap[filter.field] != null">
                        <select [(ngModel)]="filter.value" name="filter_value_{{i}}" class="form-control">
                            <option *ngFor="let data of valueMap[filter.field] | mapToIterable" value="{{data.key}}">
                                {{data.value}}
                            </option>
                        </select>
                    </span>
                    
                    <span *ngIf="valueMap[filter.field] == null">
                        <input [(ngModel)]="filter.value" name="filter_value_{{i}}"  type="text" class="form-control" />
                    </span>
                </td>
                <td>
                    <button (click)="deleteFilterParam(i)" class="btn btn-sm btn-danger">
                        <i class="fa fa-minus"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success waves-effect waves-light" (click)="submit(); c()">Apply filter</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>