<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="aggregations == null"></preloader>

<div *ngIf="aggregations != null && aggregations.length > 0" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Aggregations</h3>
                <h6 class="card-subtitle mb-2 text-muted">
                    Total: {{aggregations.length}}
                </h6>
                
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Params</th>
                        <th width="1"></th>
                        <th width="1"></th>
                    </tr>
                    <tr *ngFor="let aggregation of aggregations">
                        <td>
                            {{aggregation.value.title}}
                        </td>
                        <td>
                            {{aggregation.value.params | json}}
                        </td>
                        <td>
                            <a [routerLink]="['/aggregations/update/' + aggregation.id]" class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <button (click)="deleteAggregation(aggregation)" class="btn btn-danger btn-sm">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="aggregations != null && aggregations.length == 0" class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <p>You haven't aggregations yet.</p>
            </div>
    
            <p><a [routerLink]="['/aggregations/new']" class="btn btn-success">Create aggregation</a></p>
        </div>
    </div>
</div>