<div *ngIf="aggregations" class="form-group">
    <label>Aggregation</label>
    <select [(ngModel)]="model[field]" name="model" class="custom-select col-12">
        <option *ngFor="let aggregation of aggregations" [ngValue]="aggregation.id">{{aggregation.value.title}}</option>
    </select>
</div>



<!--<select [(ngModel)]="form.value.aggregation.type" name="form.value.aggregation.type" class="custom-select col-12">-->
    <!--<option *ngFor="let type of aggTypes" [ngValue]="type.value">{{type.text}}</option>-->
<!--</select>-->