<div class="row m-t-30">
    <div class="col-lg-6">
        <h4 class="box-title">Collection item fields</h4>
    </div>
    <div class="col-lg-6 text-right">
        <button (click)="addField(field_form_modal)" class="btn btn-sm btn-success">
            Add field
        </button>

        <div class="btn-group">
            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Template
            </button>
            <div class="dropdown-menu animated flipInX">
                <a class="dropdown-item" href="">empty</a>
            </div>
        </div>
    </div>
</div>

<hr class="m-t-0 m-b-20">

<table *ngIf="fields != null && fields.length > 0" class="table table-condensed">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th width="1">
            <i class="fa fa-sort-amount-asc"></i>
        </th>
        <th>Validators, Filters</th>
        <th></th>
    </tr>
    <tr *ngFor="let field of fields; let index = index">
        <td>
            {{field.name}}
        </td>
        <td>
            {{field.type}}
        </td>
        <td>
            <i *ngIf="field.sortable" class="fa fa-check"></i>          
        </td>
        <td>
            <validator-label *ngFor="let validator of field.validators" [validator]="validator"></validator-label>

            <span *ngFor="let filter of field.filters" class="label label-inverse m-r-5">
                {{filter}}
            </span>
        </td>
        <td class="text-right">
            <button (click)="editField(field_form_modal, index)" type="button" class="btn btn-sm btn-info"><i class="fa fa-edit"></i> </button>
            <button (click)="deleteField(field)" type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i> </button>
        </td>
    </tr>
</table>

<div *ngIf="fields == null || fields.length == 0" class="alert alert-info">no fields yet</div>

<ng-template #field_form_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Field form</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <collection-field-form [index]="activeIndex" [fields]="fields" [onFinish]="c"></collection-field-form>
    </div>
</ng-template>