<select [(ngModel)]="model[field]" (change)="onChange()" name="{{model}}_interval" class="col-12 form-control">
    <option *ngFor="let value of values" value="{{value}}">
        {{value}}
    </option>
</select>
