<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block p-b-0">
                <div class="row">
                    <div class="col-6">
                        <h6 *ngIf="pagination != null">
                            Shown:
                            <span>{{pagination.count}}</span>

                            <span class="m-l-10">Total: {{pagination.total | number}}</span>
                            <span class="m-l-10">
                                Size:
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle btn-sm font-14"
                                            data-toggle="dropdown" style="border: 0;box-shadow: none">
                                        {{pagination.limit}}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a
                                            *ngFor="let value of [10, 20, 30, 50, 100]"
                                            (click)="onLimitChangedHandler(value);"
                                            class="dropdown-item font-14"
                                            href="javascript:void(0)">
                                            {{value}}
                                        </a>
                                    </div>
                                </div>
                            </span>
                        </h6>
                    </div>

                    <div class="col-6 text-right">
                        <button
                            (click)="openChartFormModal()"
                            title="Visualize"
                            class="btn btn-primary btn-sm">
                            <i class="ti ti-bar-chart"></i>
                        </button>

                        <div *ngIf="widgetTypes != null" class="btn-group" role="group" aria-label="Basic example">
                            <button *ngFor="let widget of widgetTypes" (click)="onWidgetTypeChangedHandler(widget.type)"
                                    type="button" [ngClass]="{'active': widget.type == widgetType}"
                                    class="btn btn-info btn-sm">
                                <i class="{{widget.class}}"></i>
                            </button>
                        </div>

                        <button
                            (click)="openModal(export_modal)"
                            title="Export data"
                            class="btn btn-primary btn-sm">
                            <i class="ti ti-export"></i>
                        </button>

                        <button
                            (click)="openSettingsFormModal()"
                            title="Settings"
                            class="btn btn-success btn-sm">
                            <i class="ti ti-settings"></i>
                        </button>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-9">
                        <filter-bar></filter-bar>
                    </div>
                    <div class="col-3 text-right">
                        <sorting-bar></sorting-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #export_modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Items export</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Format</label>
            <select [(ngModel)]="exportFormat" name="export_type" class="form-control">
                <option value="csv">csv</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success waves-effect waves-light" (click)="exportItems()">Export</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<item-list-settings-form #settingsComponent></item-list-settings-form>

<chart-form
    #chartFormComponent
    [id]="'item-list-' + collectionId">
</chart-form>