<div class="form-group">
    <label>User</label>
    <select *ngIf="users" [(ngModel)]="model" name="model.userId" class="custom-select col-12">
        <option></option>
        <option *ngFor="let user of users" [ngValue]="user.id">{{user.login}}</option>
    </select>
</div>

    