<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Sorting</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-condensed table-fixed">
            <tr>
                <th>Field</th>
                <th>Order</th>
                <th class="button-td">
                    <button (click)="addSortingParam()" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </th>
            </tr>
            <tr *ngFor="let sorting of form; let i = index">
                <td>
                    <field-select [fields]="fields" [model]="sorting" [sortable]="true"></field-select>
                </td>
                <td>
                    <select [(ngModel)]="sorting.order" name="sort_order_{{i}}" class="form-control">
                        <option value="asc">asc</option>
                        <option value="desc">desc</option>
                    </select>
                </td>
                <td>
                    <button (click)="deleteSortingParam(i)" class="btn btn-sm btn-danger">
                        <i class="fa fa-minus"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success waves-effect waves-light" (click)="submit(); c()">Apply sorting</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>