<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="form == null"></preloader>

<div *ngIf="form != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <form class="form-horizontal">
                <user-select [model]="form"></user-select>

                <div class="form-group">
                    <label>Key</label>
                    <input [(ngModel)]="form.key" name="form.key" type="text" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Value</label>
                    <textarea [(ngModel)]="form.value" name="form.value" class="form-control" rows="15"></textarea>
                </div>
    
                <div *ngIf="done === true" class="alert alert-success">Success!</div>
                
                <button (click)="submit()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>