<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="form == null"></preloader>

<div *ngIf="form != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <div class="form-group">
                    <label>Number of shards</label>
                    <input [(ngModel)]="form.number_of_shards" name="form.number_of_shards" type="number" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Number of replicas</label>
                    <input [(ngModel)]="form.number_of_replicas" name="form.number_of_replicas" type="number" class="form-control"/>
                </div>

                <button (click)="submit()" type="submit" class="btn btn-success">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>