<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="config == null"></preloader>

<div *ngIf="config != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <div class="form-group">
                    <label>Title</label>
                    <input [(ngModel)]="config.value.title" name="config.value.title" type="text" class="form-control"/>
                </div>
                
                <collection-select [model]="config.value"></collection-select>
                
                <div class="form-group">
                    <label>Type</label>
                    
                    <select [(ngModel)]="config.value.type" name="config.value.type" class="custom-select col-12">
                        <option *ngFor="let type of types" [ngValue]="type.value">{{type.text}}</option>
                    </select>
                </div>
    
                <div *ngIf="config.value.type != 'date_histogram_term'" class="form-group">
                    <label>Field</label>
                    <input [(ngModel)]="config.value.params.field" name="config.value.params.field" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="config.value.type == 'date_histogram_term'" class="form-group">
                    <label>Term field</label>
                    <input [(ngModel)]="config.value.params.term_field" name="config.value.params.term_field" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="config.value.type == 'date_histogram_term'" class="form-group">
                    <label>Date field</label>
                    <input [(ngModel)]="config.value.params.date_field" name="config.value.params.date_field" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="['date_histogram', 'date_histogram_term'].indexOf(config.value.type) != -1" class="form-group">
                    <label>Interval</label>
                    <input [(ngModel)]="config.value.params.interval" name="config.value.params.interval" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="['date_histogram', 'date_histogram_term'].indexOf(config.value.type) != -1" class="form-group">
                    <label>Date format</label>
                    <input [(ngModel)]="config.value.params.format" name="config.value.params.format" type="text" class="form-control"/>
                </div>
                
                <button (click)="submit()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    {{config.id != null ? 'Update' : 'Create'}}
                </button>
            </form>
        </div>
    </div>
</div>