<div>
    <span>
        <span *ngIf="pingStatus == null" class="label label-light-default">ping: pending</span>
        <span *ngIf="pingStatus == 'fail'" class="label label-light-danger">ping: fail</span>
        <span *ngIf="pingStatus != null && pingStatus != 'fail'" class="label label-light-megna">ping: {{pingStatus}}</span>
    </span>
    
    <span *ngIf="checkSsh">
        <span *ngIf="sshStatus == null" class="label label-light-default">SSH: pending</span>
        <span *ngIf="sshStatus == 'fail'" class="label label-light-danger">SSH: fail</span>
        <span *ngIf="sshStatus != null && sshStatus != 'fail'" class="label label-light-megna">SSH: {{sshStatus}}</span>
    </span>
</div>