<div class="card">
    <div class="card-block">
        <h3 class="card-title">{{collection.name}}</h3>
        <h6 class="card-subtitle mb-2 text-muted">
            <a href="http://{{collection.instance.host}}:{{collection.instance.port}}/{{collection.indexName}}/_search" target="_blank">
                http://{{collection.instance.host}}:{{collection.instance.port}}/{{collection.indexName}}/_search
            </a>
        </h6>

        <div *ngIf="collection.index != null && collection.index.error != null" class="alert alert-danger">
            <p>Error: {{collection.index.error.reason}}</p>
            <p class="m-t-10">
                <button (click)="createIndex(collection.indexName, collection.instanceId)" class="btn btn-sm btn-success">Create index</button>
            </p>
        </div>

        <div *ngIf="collection.index != null" class="m-t-20">
            <dl class="dl-horizontal">
                <dt>Health:</dt>
                <dd>
                    <status-label [status]="collection.index['health']"></status-label>
                </dd>
                <dt>Status:</dt>
                <dd>
                    <status-label [status]="collection.index['status']"></status-label>
                </dd>
                <dt>Index:</dt>
                <dd>
                    {{collection.index['index']}}
                </dd>
                <dt>UUID:</dt>
                <dd>
                    {{collection.index['uuid']}}
                </dd>
                <dt>Pri:</dt>
                <dd>
                    {{collection.index['pri']}}
                </dd>
                <dt>Rep:</dt>
                <dd>
                    {{collection.index['rep']}}
                </dd>
                <dt>Docs count:</dt>
                <dd>
                    {{collection.index['docs.count']}}
                </dd>
                <dt>Docs deleted:</dt>
                <dd>
                    {{collection.index['docs.deleted']}}
                </dd>
                <dt>Store size:</dt>
                <dd>
                    {{collection.index['store.size']}}
                </dd>
                <dt>Pri store size:</dt>
                <dd>
                    {{collection.index['pri.store.size']}}
                </dd>
            </dl>
        </div>

        <hr class="m-t-15 m-b-15">

        <a [routerLink]="['/collections/' + collection.id]"  class="card-link btn btn-secondary btn-sm">view</a>
        <a [routerLink]="['/collections/update/' + collection.id]"  class="card-link btn btn-info btn-sm" href="#">update</a>

        <a [routerLink]="['/collections/' + collection.id + '/items/']" class="card-link btn btn-success btn-sm">view items</a>
        <a [routerLink]="['/collections/' + collection.id + '/items/new']" class="card-link btn btn-primary btn-sm" href="#">add item</a>

        <button *ngIf="detail" (click)="deleteCollection()" class="btn btn-danger card-link btn-sm">Delete</button>
    </div>
</div>