<ul *ngIf="sorting != null" class="list-inline font-14">
    <li>
        <a (click)="openSortingFormModal()" href="javascript:void(0)">
            <u>Sort</u><span *ngIf="sorting.length > 0">:</span>
        </a>
    </li>
    <li *ngFor="let param of sorting; let i = index">
        <a (click)="toggleParamOrder(i)" href="javascript:void(0)">
            {{getFieldLabel(param.field)}}
            <i *ngIf="param.order == 'desc'" class="mdi mdi-sort-descending"></i>
            <i *ngIf="param.order == 'asc'" class="mdi mdi-sort-ascending"></i>
        </a>
    </li>
</ul>

<sorting-form #sortingFormComponent></sorting-form>


