<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="widgets == null"></preloader>

<div *ngIf="widgets != null && widgets.length > 0" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">Widgets</h3>
                <h6 class="card-subtitle mb-2 text-muted">
                    Total: {{widgets.length}}
                </h6>
                
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th style="width: 120px"></th>
                    </tr>
                    <tr *ngFor="let widget of widgets">
                        <td>
                            {{widget.id}}
                        </td>
                        <td>
                            {{widget.value.title}}
                        </td>
                        <td>
                            {{widget.value.selector}}
                        </td>
                        <td>
                            <a [routerLink]="['/widgets/' + widget.id]" class="btn btn-secondary btn-sm">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a [routerLink]="['/widgets/update/' + widget.id]" class="btn btn-info btn-sm">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button (click)="deleteWidget(widget)" class="btn btn-danger btn-sm">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="widgets != null && widgets.length == 0" class="col-12">
    <div class="card">
        <div class="card-block">
            <div class="alert alert-info">
                <p>You haven't widgets yet.</p>
            </div>
    
            <p><a [routerLink]="['/widgets/new']" class="btn btn-success">Create widget</a></p>
        </div>
    </div>
</div>