<div *ngIf="data != null">
    <div *ngIf="data.selector == 'line-chart'" >
        <line-chart
                [title]="data.title"
                [condition]="data.condition"
                [aggregation]="data.aggregation"
                [collectionId]="data.collectionId"
                [elementId]="'widget-' + id">
        </line-chart>
    </div>

    <div *ngIf="data.selector == 'pie-chart'" >
        <pie-chart
                [title]="data.title"
                [condition]="data.condition"
                [aggregation]="data.aggregation"
                [collectionId]="data.collectionId"
                [elementId]="'widget-' + id">
        </pie-chart>
    </div>

    <div *ngIf="data.selector == 'bar-chart'" >
        <bar-chart
                [title]="data.title"
                [condition]="data.condition"
                [aggregation]="data.aggregation"
                [collectionId]="data.collectionId"
                [elementId]="'widget-' + id">
        </bar-chart>
    </div>
</div>