<div *ngIf="collections" class="form-group">
    <label>Collection</label>
    <select [(ngModel)]="model" name="model.collectionId" class="custom-select col-12">
        <option *ngFor="let collection of collections" [ngValue]="collection.id">{{collection.name}}</option>
    </select>
</div>

    