<ul *ngIf="filter != null" class="list-inline font-14">
  <li style="padding-left: 0">
    <a (click)="openFilterFormModal()" href="javascript:void(0)">
      <u>Filters</u><span *ngIf="filter.length > 0">: </span>
    </a>
  </li>
  <li *ngFor="let param of filter; let i = index">
    <span *ngIf="param.field != null && param.value != null" class="badge badge-default" style="padding: 4px !important;font-size: 12px">
        <span *ngIf="operLabels[param.oper] != null">
            <span *ngIf="param.oper == 'eq'">
                {{getFieldLabel(param.field)}}:
            </span>

            <span *ngIf="param.oper != 'eq'">
                {{getFieldLabel(param.field)}} {{operLabels[param.oper]}}
            </span>
        </span>

        <span *ngIf="operLabels[param.oper] == null">
            {{getFieldLabel(param.field)}} {{param.oper}}
        </span>

        <span *ngIf="valueMap[param.field] == null">
            {{param.value}}
        </span>
        
        <span *ngIf="valueMap[param.field] != null">
            {{valueMap[param.field][param.value] || param.value}}
        </span>

        <a (click)="deleteFilterParam(i)" href="javascript:void(0)" class="m-l-5" style="border-left: 1px solid darkgrey;color: white;padding-left: 5px">
            <i class="fa fa-remove"></i>
        </a>
    </span>
  </li>
</ul>

<filter-form #filterFormComponent></filter-form>