<div class="login-box card">
    <div class="card-block">
        <error-message [errors]="errors"></error-message>

        <form class="form-horizontal form-material" id="loginform" action="index.html">
            <h3 class="box-title m-b-20">Sign In</h3>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input [(ngModel)]="login" name="login" class="form-control" type="text" placeholder="Login" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input [(ngModel)]="password" name="password" class="form-control" type="password" placeholder="Password" autocomplete="off">
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="checkbox checkbox-primary pull-left p-t-0">-->
                        <!--<input id="checkbox-signup" type="checkbox">-->
                        <!--<label for="checkbox-signup"> Remember me </label>-->
                    <!--</div>-->
                    <!--<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">-->
                        <!--<i class="fa fa-lock m-r-5"></i> Forgot pwd?-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button (click)="submit()" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button">
                        Log In
                    </button>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">-->
                    <!--<div class="social">-->
                        <!--<div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=yandex,google,vkontakte,facebook,mailru,twitter;hidden=other;redirect_uri=http%3A%2F%2Fservices-site%2Fapi%2Fauth%2Fsocial;mobilebuttons=0;"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group m-b-0">-->
                <!--<div class="col-sm-12 text-center">-->
                    <!--<p>Don't have an account? <a href="register.html" class="text-info m-l-5"><b>Sign Up</b></a></p>-->
                <!--</div>-->
            <!--</div>-->
        </form>
        <form class="form-horizontal" id="recoverform" action="index.html">
            <div class="form-group ">
                <div class="col-xs-12">
                    <h3>Recover Password</h3>
                    <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Email"></div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>