<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="instance == null"></preloader>

<div class="row">
    <div *ngIf="instance != null" class="col-12">
        <instance-card [instance]="instance" [detail]="true"></instance-card>
    </div>
</div>

<div class="row">
    <div *ngIf="indices != null" class="col-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="card-title">Indices</h3>
                    </div>
                    <div class="col-lg-6 text-right">
                        <select [(ngModel)]="indexType" class="form-control m-r-10" style="width:100px">
                            <option value="app">app</option>
                            <option value="all">all</option>
                        </select>
                        <a [routerLink]="['/instances/' + instance.id + '/indices/new']" class="btn btn-success">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>

                <div *ngIf="indices.length == 0" class="alert alert-info">
                    This instance does not have any indexes
                </div>
                
                <table *ngIf="indices.length > 0" class="table">
                    <tr>
                        <th>Name</th>
                        <th>Health</th>
                        <th>Status</th>
                        <th>Count</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                    <tbody *ngFor="let index of indices">
                        <tr *ngIf="indexType == 'all' || !index.index.startsWith('.')">
                            <td>
                                <a href="http://{{instance.host}}:{{instance.port}}/{{index.index}}/_search" target="_blank">
                                    {{index.index}}
                                </a>
                            </td>
                            <td>
                                <status-label [status]="index.health"></status-label>
                            </td>
                            <td>
                                <status-label [status]="index.status"></status-label>
                            </td>
                            <td>
                                {{index['docs.count']}}
                            </td>
                            <td>
                                {{index['store.size']}}
                            </td>
                            <td style="white-space: nowrap" class="text-right">
                                <a
                                    href="javascript:void(0)"
                                    [routerLink]="['/instances/' + instance.id + '/indices/' + index.index +   '/mapping']"
                                    class="btn btn-success btn-sm">
                                    M
                                </a>
                                
                                <button
                                    (click)="deleteIndex(index.index)"
                                    type="button"
                                    class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

