<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="form == null"></preloader>

<div *ngIf="form != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <error-message [errors]="errors"></error-message>

            <form class="form-horizontal">
                <application-select [model]="form"></application-select>
                
                <div *ngIf="types != null" class="form-group">
                    <label>Type</label>
                    <select [(ngModel)]="form.type" name="form.type" class="custom-select col-12">
                        <option *ngFor="let type of types" value="{{type.key}}">{{type.val}}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Name</label>
                    <input [(ngModel)]="form.name" name="form.name" type="text" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label>Host</label>
                    <input [(ngModel)]="form.host" name="form.host" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="form.type == 'postgresql'" class="form-group">
                    <label>User name</label>
                    <input [(ngModel)]="form.params.user" name="form.params.user" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="form.type == 'postgresql'" class="form-group">
                    <label>Password</label>
                    <input [(ngModel)]="form.params.password" name="form.params.password" type="text" class="form-control"/>
                </div>
    
                <div *ngIf="form.type == 'postgresql'" class="form-group">
                    <label>DB name</label>
                    <input [(ngModel)]="form.params.dbname" name="form.params.dbname" type="text" class="form-control"/>
                </div>

                <div *ngIf="form.type != 'logstash'" class="form-group">
                    <label>Port</label>
                    <input [(ngModel)]="form.port" name="form.port" type="number" class="form-control"/>
                </div>

                <div *ngIf="form.type == 'logstash'" class="form-group">
                    <label>SSH port</label>
                    <input [(ngModel)]="form.params.sshPort" name="form.params.sshPort" type="number" class="form-control"/>
                </div>

                <div *ngIf="form.type == 'logstash'" class="form-group">
                    <label>SSH username</label>
                    <input [(ngModel)]="form.params.sshUsername" name="form.params.sshUsername" type="text" class="form-control"/>
                </div>

                <div *ngIf="form.type == 'logstash'" class="form-group">
                    <label>SSH password</label>
                    <input [(ngModel)]="form.params.sshPassword" name="form.params.sshPassword" type="password" class="form-control"/>
                </div>
    
                <div *ngIf="form.type == 'logstash'" class="form-group">
                    <label>Config path</label>
                    <input [(ngModel)]="form.params.configPath" name="form.params.configPath" type="text" class="form-control"/>
                </div>
    
                <access-select [model]="form"></access-select>
                
                <button (click)="submit()" type="submit" class="btn btn-success waves-effect waves-light m-r-10">{{this.form.id != null ? 'Update instance' : 'Create instance'}}</button>
            </form>
        </div>
    </div>
</div>


