<div *ngIf="instances" class="form-group">
    <label>Instance</label>
    <select [(ngModel)]="model[field]" name="model.instanceId" class="custom-select col-12">
        <option *ngFor="let instance of instances" [ngValue]="instance.id">{{instance.name}}</option>
    </select>
</div>

    