<div *ngIf="applications" class="form-group">
    <label>Application</label>
    <select [(ngModel)]="model[field]" name="model.appId" class="custom-select col-12">
        <option *ngFor="let application of applications" [ngValue]="application.id">{{application.name}}</option>
    </select>
</div>

    