<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Visualization</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li *ngFor="let chart of chartTypes; let i = index" class="nav-item">
                <a 
                    class="nav-link" 
                    (click)="form.selector = chart.selector" 
                    [ngClass]="{'active': isActiveTab(chart)}"
                    data-toggle="tab"
                    href="#tab-{{chart.selector}}" 
                    role="tab">
            
                    <span>
                        <i class="{{chart.icon}}"></i>
                    </span>
                </a>
            </li>
        </ul>

        <div class="tab-content tabcontent-border">
            <div *ngFor="let chart of chartTypes; let i = index" class="tab-pane p-20" [ngClass]="{'active': isActiveTab(chart, i)}"
                id="tab-{{chart.selector}}" role="tabpanel">
                <form class="form-horizontal">
                    <h4 class="box-title">{{chart.name}}</h4>
                    <hr class="m-t-0 m-b-20">

                    <div class="form-group">
                        <label>Type</label>
                        <aggregation-type-select
                            [model]="forms[chart.selector].aggregation"
                            [field]="'type'"
                            [only]="chart.aggTypes">
                            
                        </aggregation-type-select>
                    </div>

                    <div *ngIf="forms[chart.selector].aggregation.type != null">
                        <div *ngFor="let param of aggParams[forms[chart.selector].aggregation.type]" class="form-group">
                            <label>{{nameToLabel(param.name)}}</label>

                            <ng-container *ngIf="param.component == 'interval-select'">
                                <interval-select
                                    [model]="forms[chart.selector].aggregation"
                                    [field]="'interval'">
                                </interval-select>
                            </ng-container>

                            <ng-container *ngIf="param.component == 'field-select'">
                                <field-select
                                    [model]="forms[chart.selector].aggregation"
                                    [field]="param.name"
                                    [type]="getFieldSelectType(forms[chart.selector].aggregation, param.name)"
                                    [setSingleValue]="true"
                                    [fields]="fields">
                                </field-select>
                            </ng-container>

                            <ng-container *ngIf="param.component == 'date-format-select'">
                                <date-format-select
                                    [model]="forms[chart.selector].aggregation"
                                    [field]="param.name">
                                </date-format-select>
                            </ng-container>

                            <ng-container *ngIf="['text', 'number'].includes(param.component)">
                                <input
                                    [(ngModel)]="forms[chart.selector].aggregation[param.name]"
                                    name="forms_{{chart.selector}}_aggregation_{{param.name}}"
                                    type="{{param.component}}"
                                    class="form-control" />
                            </ng-container>
                        </div>

                        <button (click)="submit(c)" class="btn btn-primary">Visualize</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>