<breadcrumb *ngIf="crumbs != null" [data]="crumbs"></breadcrumb>

<preloader [visible]="mapping == null"></preloader>

<div *ngIf="mapping != null" class="row">
    <div class="col-12">
        <div class="card card-block">
            <form class="form-horizontal">
                <div *ngIf="mapping.length == 0" class="alert alert-info">
                    no mapping fields
                </div>
                
                <div *ngFor="let field of mapping" class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Field</label>
                                    <input [(ngModel)]="field.name" name="field_name_{{field.name}}"  type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Type</label>
                                    <field-type-select [model]="field"></field-type-select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>Index</label>
    
                                    <select [(ngModel)]="field.index" name="field_index_{{field.name}}" class="form-control">
                                        <option></option>
                                        <option value="analyzed">analyzed</option>
                                        <option value="not_analyzed">not_analyzed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Keywords</label>
                                    <input [(ngModel)]="field.fields" type="text" name="field_fields_{{field.name}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <label class="custom-control custom-checkbox">
                                        <input [(ngModel)]="field.fielddata" name="field_fielddata_{{field.name}}" type="checkbox" value="true" class="custom-control-input"/>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Field data</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <hr/>
                    </div>
                </div>
    
                <div *ngIf="done === true" class="alert alert-success">Success!</div>
                
                <button (click)="submit()" class="btn btn-success">Update mapping</button>
                <button (click)="addField()" class="btn btn-secondary m-l-10">Add field</button>
            </form>
        </div>
    </div>
</div>

