<preloader [visible]="application == null"></preloader>

<div *ngIf="application != null" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3 class="card-title">{{application.name}}</h3>
                <h6 *ngIf="application.description != null" class="card-subtitle">{{application.description}}</h6>
                
                <ul class="list-inline font-14">
                    <li>Collections {{application.collections.length}}</li>
                    <li>Instances {{application.instances.length}}</li>
                </ul>
                
                <hr class="m-t-0 m-b-20">
    
                <a [routerLink]="['/applications/' + application.id]"  class="card-link btn btn-secondary btn-sm">View</a>
                <a [routerLink]="['/applications/update/' + application.id]" class="btn btn-info card-link btn-sm">Update</a>
                
                <button *ngIf="detail" (click)="deleteApplication()" class="btn btn-danger card-link btn-sm">Delete</button>
            </div>
        </div>
    </div>
</div>

